<div class="container d-flex justify-content-center align-item-center" style="height: 100vh;">
    <div>
        <h2 class="text-center mt-4 mb-4">Create Author</h2>
        <form action="/author/" method="POST">
            <%- include('./_form_field.ejs') %>
            <a href="/author" class="btn btn-outline-secondary">Cancel</a>
            <button type="submit" class="btn btn-outline-primary">Create</button>
        </form>
    </div> 
</div>
